* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

body {
  font-family: 'Montserrat', sans-serif;
}
.block {
  display: none;
}

/*-------------------------------------------------------
MAIN - LEFT NAV
-------------------------------------------------------*/

nav {
  width: 14.375rem;
  background-color: black;
  color: #545454;
  position: fixed;
  padding: 20px 0 90px 20px;
  bottom: 0;
  top: 0;
  left: 0;
}

.navigazione {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.spotify {
  margin-right: 5rem;
}

.nome-playlist {
  margin-bottom: 1.5rem;
  overflow-y: scroll;
  overflow: hidden;
}

.nome-playlist ul {
  flex-grow: 1;
}

main ul {
  padding-top: 1.875rem;
  font-size: 0.875rem;
  font-weight: bold;
}

main ul li {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.9375rem;
}

main ul li img {
  width: 1.5rem;
}

main nav h3 {
  color: white;
  font-size: 1rem;
  margin-bottom: 0.9375rem;
}

.playlist {
  align-items: center;
  gap: 0.875rem;
  font-weight: bold;
}

main nav i {
  font-size: 50px;
}

.utente {
  width: 100%;
  padding-right: 20px;
  gap: 0.625rem;
  font-weight: bold;
  padding-bottom: 1rem;
  margin-top: auto;
}

.utente img {
  width: 1.25rem;
  margin-right: 0.625rem;
}

.utente hr {
  margin: 12px 0;
}

.profilo img {
  width: 1.5625rem;
  background-color: #808080;
  border-radius: 50%;
}

.provaa {
  margin-top: auto;
}

/*-------------------------------------------------------
MAIN - RIGHT SECTION
-------------------------------------------------------*/

.top {
  background-color: rgba(0, 0, 0, 0.9);
  width: calc(100% - 14.375rem);
  height: 90px;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  z-index: 1;
  padding: 1.25rem;
}

.up {
  background-color: rgba(0, 0, 0, 0.8);
  margin-left: auto;
  border: 5px white solid;
  color: white;
  border-radius: 50px;
  padding: 0.9375rem 2.5rem;
}

.bottom {
  background-color: #141922;
  width: calc(100% - 14.375rem);
  height: 100%;
  margin-top: 90px;
  padding: 1.5625rem;
  margin-left: 14.375rem;
  color: white;
}

/*-------------------------------------------------------
FOOTER
-------------------------------------------------------*/

footer {
  width: 100vw;
  height: 90px;
  position: fixed;
  background-color: #282828;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  overflow-y: scroll;
  z-index: 1;
}
.canzone {
  background-color: aquamarine;
  width: 14.375rem;
  height: 100%;
}

.riproduzione {
  background-color: blue;
  height: 100%;
}

.volume {
  background-color: purple;
  width: 14.375rem;
  height: 100%;
}

/*-------------------------------------------------------
MEDIA - TABLET
-------------------------------------------------------*/

/*-------------------------------------------------------
MEDIA - MOBILE 
-------------------------------------------------------*/

/*-------------------------------------------------------
MEDIA - MOBILE SMALL
-------------------------------------------------------*/

@media screen and (max-width: 480px) {
  .none {
    display: none;
  }

  .block {
    display: block;
  }

  nav {
    width: auto;
    text-align: center;
  }
}
