* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.block {
  display: none;
}

/*-------------------------------------------------------
MAIN - LEFT NAV
-------------------------------------------------------*/

nav {
  background-color: black;
  color: #545454;
  padding-top: 20px;
  bottom: 90px;
  position: fixed;
  left: 0;
  top: 0;
  width: 230px;
  z-index: 3;
  padding-left: 1.25rem;
}

.navigazione {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.spotify {
  margin-right: 5rem;
}

.nome-playlist {
  margin-bottom: 1.5rem;
  overflow: hidden;
  flex-grow: 1;
  overflow-y: scroll;
}

main ul {
  padding-top: 1.875rem;
  font-size: 0.875rem;
  font-weight: bold;
}

main ul li {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.9375rem;
}

main nav ul li img {
  width: 1.5rem;
}

main nav h3 {
  color: white;
  font-size: 1rem;
  margin-bottom: 0.9375rem;
}

.playlist {
  align-items: center;
  gap: 0.875rem;
  font-weight: bold;
}

main nav i {
  font-size: 50px;
}

.utente {
  width: 100%;
  padding-right: 20px;
  gap: 0.625rem;
  font-weight: bold;
  padding-bottom: 1rem;
  margin-top: auto;
}

.utente img {
  width: 1.25rem;
  margin-right: 0.625rem;
}

.utente hr {
  margin: 12px 0;
}

.profilo img {
  width: 1.5625rem;
  background-color: #808080;
  border-radius: 50%;
}

/*-------------------------------------------------------
MAIN - RIGHT SECTION
-------------------------------------------------------*/

.top {
  background-color: rgba(0, 0, 0, 0.9);
  height: 90px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
  padding: 1.25rem;
  justify-content: flex-end;
  display: flex;
}

.up {
  background-color: rgba(0, 0, 0, 0.8);
  border: 5px white solid;
  color: white;
  border-radius: 50px;
  padding: 0.9375rem 2.5rem;
}

.bottom {
  background-color: #141922;
  color: white;
  padding: 1.25rem 1.5rem;
  margin: 5.625rem 0 5.625rem 14.375rem;
}

.menu {
  justify-content: center;
  gap: 1rem;
  font-size: 0.875rem;
  font-weight: bold;
  color: #808080;
  flex-wrap: wrap;
  margin-bottom: 2.875rem;
  padding: 0 3rem;
}

.cover-img {
  max-width: calc((100% / 6) - 1rem);
}

.cover-img img {
  max-width: 100%;
  margin-top: 1.875rem;
}

.cover {
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}

.subtle {
  margin-bottom: 2.5rem;
}

.round img {
  border-radius: 50%;
}

.sottotitolo {
  margin-top: 1rem;
}

/*-------------------------------------------------------
FOOTER
-------------------------------------------------------*/

footer {
  height: 90px;
  position: fixed;
  background-color: #282828;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  z-index: 1;
  color: white;
}

.canzone {
  width: 100%;
  height: 100%;
  align-items: center;
  padding-left: 1rem;
}

.titolo-album {
  font-weight: bold;
  font-size: 0.875rem;
}

.titolo-brano {
  color: #808080;
  font-size: 0.75rem;
  font-weight: bold;
}

footer .canzone img {
  max-width: 2.625rem;
  margin-right: 1rem;
}

.cartelline {
  gap: 1rem;
  flex-wrap: wrap;
  margin-left: 1rem;
}

.riproduzione {
  height: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.riptop {
  justify-content: center;
  gap: 1.25rem;
  font-size: 1.375rem;
  align-items: center;
}

.fa-circle-play {
  font-size: 2rem;
}

.ripbottom {
  align-items: center;
  gap: 1.5625rem;
  font-size: 0.75rem;
  font-weight: bold;
}

.volume {
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  margin-right: 0.75rem;
  gap: 1rem;
}

.riga1 {
  background-color: lightgray;
  height: 5px;
  width: 27.1875rem;
  border-radius: 50px;
}

.riga2 {
  background-color: lightgray;
  height: 5px;
  width: 115px;
  border-radius: 50px;
}

/*-------------------------------------------------------
MEDIA - TABLET 992
-------------------------------------------------------*/

@media screen and (max-width: 992px) {
  .cover-img {
    max-width: calc((100% / 4) - 1rem);
  }
}
/*-------------------------------------------------------
MEDIA - MOBILE 768
-------------------------------------------------------*/

@media screen and (max-width: 768px) {
  .cover-img {
    max-width: calc((100% / 2) - 1rem);
  }
}
/*-------------------------------------------------------
MEDIA - MOBILE SMALL 576
-------------------------------------------------------*/

@media screen and (max-width: 576px) {
  .none {
    display: none;
  }

  .block {
    display: block;
  }

  main nav img {
    width: 1.75rem;
  }

  nav {
    width: 50px;
  }

  .bottom {
    margin-left: 3.125rem;
  }

  .cover-img {
    max-width: calc((100% / 2) - 1rem);
  }

  .canzone {
    width: 8.125rem;
  }

  .riproduzione {
    width: 12.5rem;
  }

  .volume {
    width: 10rem;
  }
}
